@import "bootstrap";

body {
  /* background-image: url(../images/20190928_191235.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(79, 88, 97);
  background-position: center;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
}

/* .navbar-text {
  color:whitesmoke;
} */

.navbar {
  background-color: teal;
  /* color: #ffffff; */
}

.navbar-nav li a {
  color: rgba(255, 255, 255, 0.781);

}

.navbar-nav a:hover {
  background-color: #085259;
}

.navbar-nav > li > .dropdown-menu {
  background-color: rgb(7, 107, 107);
}

.title {
  color: #d5dfee;
  display: block;
}

.text-main {
  color: #d5dfee;
}

.text-in-img {
  color: aliceblue;
  background-color: black;
  
}

.intro {
  padding-top: 5%;
}

.role {
  padding-bottom: 5%;
}