body {
  background-image: url(../images/20190928_191235.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: aliceblue;
  background-position: center;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
}

.navbar {
  background-color: teal;

}

.navbar-nav li a {
  color: whitesmoke;

}

.navbar-nav a:hover {
  background-color: #085259;
}

.navbar-nav > li > .dropdown-menu {
  background-color: rgb(7, 107, 107);
}






